:root {
  --main-grey-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --title-text-color: #212121;
  --main-white-color: #ffffff;
  --secondary-grey-color: #f5f4fa;
  --dark-grey-color: #2f303a;
  --total-black-color: #000000;
  --social-link-color: #afb1b8;
  --transform-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;
  border: none;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-grey-color);
  background-color: var(--main-white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-white-color);
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
}
.menu-mobile > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-close-btn {
  display: block;
  margin-right: 15px;
  margin-top: 10px;
  background: var(--main-white-color);
  transition: fill 250ms var(--transform-function);
}
.menu-close-btn:focus {
  fill: var(--accent-color);
}

.menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--transform-function);
}
.menu-navigation__link:focus {
  color: var(--accent-color);
}

.menu-post {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
  display: flex;
  align-items: left;
  transition: color 250ms var(--transform-function);
  margin-bottom: 64px;
}
.menu-post:focus {
  color: var(--accent-color);
}

.menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: flex;
  align-items: left;
  margin-bottom: 32px;
}

.menu-soc-list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.menu-soc-link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header {
  position: relative;
  background-color: var(--main-white-color);
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}

.header-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--total-black-color);
  margin-right: 94px;
}

.logo__title {
  color: var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--transform-function);
}
.navigation__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  margin-bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__info {
  margin-left: auto;
  display: flex;
  align-items: center;
  display: none;
}

.post__icon,
.tel__icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation__link.current {
  color: var(--accent-color);
}

.post {
  margin-right: 30px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--transform-function);
}
.post:hover, .post:focus {
  color: var(--accent-color);
}

.tel {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
  display: flex;
  align-items: center;
  transition: color 250ms var(--transform-function);
}
.tel:hover, .tel:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--dark-grey-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  background-image: var(--bg-gradient), url(../img/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../img/bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../img/bg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../img/bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--bg-gradient), url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../img/hero-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

.main-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  transition: background-color 250ms var(--transform-function);
  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin-top: 30px;
  min-width: 200px;
  padding: 10px 32px;
}
.main-btn:hover, .main-btn:focus {
  background-color: var(--secondary-accent-color);
}

.benefits-list {
  background-color: var(--main-white-color);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.benefits-list__item {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.image {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-grey-color);
  border-radius: 4px;
}

.image__icon {
  fill: var(--title-text-color);
}

.benefits-list__paragraph {
  line-height: 1.71;
  margin-top: 10px;
  max-width: 100%;
  text-align: left;
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__title {
    text-align: left;
  }
}

.work {
  background-color: var(--main-white-color);
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    visibility: hidden;
    display: none;
  }
}

.work-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}

.work-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
}

.work-item {
  position: relative;
}

.work-text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-white-color);
}

.people {
  background-color: var(--secondary-grey-color);
}

.people__title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .people__title {
    font-size: 28px;
  }
}

.people-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1199px) {
  .people-list {
    margin-top: 30px;
  }
}

.people-list__item {
  width: 100%;
  text-align: center;
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .people-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .people-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.people-card__position {
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
}

.people-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.people-card {
  padding: 30px 0;
}

.social-network {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 16px;
}

.social-network__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-link-color);
  background-color: var(--main-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--transform-function), color 250ms var(--transform-function);
}
.social-network__link:hover, .social-network__link:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
}

.social-network__icon {
  fill: currentColor;
}

.clients-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (max-width: 1199px) {
  .clients-title {
    font-size: 28px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    margin-top: 30px;
  }
}

.clients-item {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-logo-link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--social-link-color);
  color: var(--social-link-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--transform-function), color 250ms var(--transform-function);
}
.clients-logo-link:hover, .clients-logo-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-logo-icon {
  fill: currentColor;
}

.footer {
  display: block;
  background-color: var(--dark-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-white-color);
}

.address {
  margin-top: 20px;
}

.address-item {
  margin-top: 9px;
}

.address-item:first-child {
  margin-top: 0;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-white-color);
  transition: color 250ms var(--transform-function);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-color);
}

.footer-tel,
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--transform-function);
}
.footer-tel:hover, .footer-tel:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.footer-soc {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 20px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--transform-function);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--main-white-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-soc-wrap {
  margin-left: 70px;
  margin-right: auto;
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-form-wrap {
  margin-left: auto;
}

.footer-form-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

.form-mail {
  margin-right: 10px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark-grey-color);
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  transition: drop-shadow 250ms var(--transform-function);
}
.form-mail::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-mail:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-mail:hover, .form-mail:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-btn {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  text-align: start;
  padding: 10px 28px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
}

.footer-icon-btn {
  text-align: center;
  margin-left: 10px;
  fill: var(--main-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--transform-function), visibility 250ms var(--transform-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--transform-function);
  padding: 40px;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--main-white-color);
  transition: fill 250ms var(--transform-function);
}
.modal-btn:hover, .modal-btn:focus {
  fill: var(--accent-color);
}

.icon-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms var(--transform-function);
}

.user-btn {
  width: 200px;
  height: 50px;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms var(--transform-function);
}
.user-btn:hover, .user-btn:focus {
  background-color: var(--secondary-accent-color);
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  align-items: center;
  outline: none;
  margin-top: 4px;
  transition: border 250ms var(--transform-function);
}
.form-input:focus {
  border: 1px solid var(--accent-color);
}
.form-input:focus:focus + .icon-modal {
  fill: var(--accent-color);
}
.input-field:focus-within .form-input:focus, .input-field:hover .form-input:focus {
  border: 1px solid var(--accent-color);
}

.textarea {
  width: 100%;
  height: 120px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--transform-function);
}
.textarea:focus {
  border: 1px solid var(--accent-color);
}
.textarea::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 10px;
  transition: border-color 250ms var(--transform-function);
}
.input-field:focus-within .form-input, .input-field:hover .form-input {
  border: 1px solid var(--accent-color);
}
.input-field:focus-within .icon-modal, .input-field:hover .icon-modal {
  fill: var(--accent-color);
}

.input-field-textarea {
  position: relative;
  margin-bottom: 20px;
  margin-top: 4px;
}
.input-field-textarea:focus-within .textarea, .input-field-textarea:hover .textarea {
  border: 1px solid var(--accent-color);
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-grey-color);
}

.icon-modal {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: var(--title-text-color);
  transition: fill 250ms var(--transform-function);
}
.input-field:focus-within .icon-modal, .input-field:hover .icon-modal {
  fill: var(--accent-color);
}

.modal-link {
  display: flex;
  margin-left: 5px;
  line-height: 1.71;
  color: var(--accent-color);
}

.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.label-checkbox {
  line-height: 1.71;
  color: var(--main-grey-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-checkbox::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--transform-function);
}
.user-checkbox:checked + .label-checkbox::before {
  background-image: url(../img/check.svg);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.user-checkbox {
  transition: background-color 250ms var(--transform-function);
}
.user-checkbox:checked + .label-checkbox::before {
  background-image: url(../img/check.svg);
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.portfolio {
  background-color: var(--main-white-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .filter {
    margin-bottom: 40px;
    row-gap: 15px;
    justify-content: left;
  }
}
@media screen and (max-width: 1199px) {
  .filter {
    margin-bottom: 30px;
  }
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--secondary-grey-color);
  transition: color 250ms var(--transform-function), background-color 250ms var(--transform-function), box-shadow 250ms var(--transform-function);
}
.filter-btn:active, .filter-btn:hover, .filter-btn:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-item {
  width: 100%;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .cards-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards-item {
    width: calc((100% - 60px) / 3);
  }
}

.cards-link {
  display: block;
  transition: box-shadow 250ms var(--transform-function);
}
.cards-link:hover, .cards-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cards-link:hover .cards-overlay, .cards-link:focus .cards-overlay {
  transform: translateY(0%);
}
@media screen and (min-width: 480px) {
  .cards-link {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .cards-link {
    display: flex;
    height: 100%;
    flex-direction: column;
  }
}

.text-container {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
@media screen and (min-width: 480px) {
  .text-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .text-container {
    flex-grow: 1;
  }
}

.cards-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.cards-name {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-grey-color);
  margin-top: 4px;
}

.cards-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.cards-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms var(--transform-function);
}/*# sourceMappingURL=main.css.map */