p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  display: block;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 0 auto;
  border: none;
}
address {
  font-style: normal;
}
