:root {
  --main-grey-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --title-text-color: #212121;
  --main-white-color: #ffffff;
  --secondary-grey-color: #f5f4fa;
  --dark-grey-color: #2f303a;
  --total-black-color: #000000;
  --social-link-color: #afb1b8;
  --transform-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
}
