.footer {
  display: block;
  background-color: var(--dark-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    display: flex;
    align-items: baseline;
  }
}
.footer-address {
  @include tablet {
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
  }
  @include desktop {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer-logo {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--main-white-color);

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
    justify-content: start;
  }
}
.address {
  margin-top: 20px;
}

.address-item {
  margin-top: 9px;
}
.address-item:first-child {
  margin-top: 0;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-white-color);

  @include desktop {
    transition: color 250ms var(--transform-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.footer-tel,
.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;

  @include desktop {
    transition: color 250ms var(--transform-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    justify-content: start;
  }
}

.footer-soc-wrap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @include tablet {
    margin-top: 0;
    margin-left: 165px;
    margin-right: auto;
  }

  @include desktop {
    margin-left: 70px;
    margin-right: auto;
    align-items: flex-start;
  }
}
.footer-soc {
  display: flex;
  column-gap: 10px;
  margin-top: 20px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--transform-function);
  &:focus {
    background-color: var(--accent-color);
  }

  @include desktop {
    transition: background-color 250ms var(--transform-function);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}

.footer-soc-icon {
  fill: var(--main-white-color);
}

.footer-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.footer-form-wrap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;

  @include desktop {
    align-items: flex-start;
    margin-left: auto;
    margin-top: 0;
    margin-right: 0;
  }
}

.footer-form-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
}
.form-mail {
  padding-left: 16px;
  min-width: 300px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--dark-grey-color);
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  @include mobile {
    width: 450px;
  }

  @include desktop {
    width: 358px;
    margin-right: 10px;
    transition: drop-shadow 250ms var(--transform-function);
    &:hover,
    &:focus {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }
  }
}

.footer-btn {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  text-align: start;
  padding: 10px 28px;
  color: var(--main-white-color);
  background-color: var(--accent-color);

  @include desktop {
    margin-top: 0;
  }
}
.footer-icon-btn {
  text-align: center;
  margin-left: 10px;
  fill: var(--main-white-color);
}
